[Unit]
Description=Eufy MQTT Broker and Healthcheck
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/eufy-cam
ExecStart=/root/.nvm/versions/node/v20.10.0/bin/node /root/eufy-cam/webserver/server.js
Restart=always
RestartSec=1
StandardOutput=journal
StandardError=journal

# Environment variables
Environment=NODE_ENV=production
EnvironmentFile=/root/eufy-cam/.env

[Install]
WantedBy=multi-user.target
